{{page-title "Userslist"}}
{{#each this.model as |data|}}
    {{data.name}}
    <br>
{{/each}}
<LinkTo @route="index">
    <button class="btn btn-success" type="button" >
        Home
    </button>
</LinkTo>
{{outlet}}