<div class="text-center">
    <form action="">
        <div class="m-5">
            <label for="userName">Enter the name of the User</label>
            <input type="text" name="" id="userName">
        </div>

        <div class="m-5">
            <label for="DOM">Enter the date of birth of the User</label>
            <input type="date" name="" id="DOB">
        </div>

        <div class="m-5">
            <label for="phone">Enter the mobile number of the User</label>
            <input type="tel" name="" id="phone">
        </div>

        <div class="m-5">
            <label for="address">Enter the address of the User</label>
            <textarea name="" id="address"></textarea>
        </div>

        <div>
            <LinkTo @route="newuser.userslist">
                <button class="btn btn-success" type="button" {{on "click" this.pushTheObject}}>
                    submit
                </button>
            </LinkTo>
        </div>
    </form>
</div>