<LinkTo @route="newbook">
    <button class="btn btn-danger" type="button">New Book</button>
</LinkTo>

<LinkTo @route="newuser">
    <button class="btn btn-danger" type="button">New User</button>
</LinkTo>

<LinkTo @route="lendbook">
    <button class="btn btn-danger" type="button">Lend Book</button>
</LinkTo>

<LinkTo @route="returnbook">
    <button class="btn btn-danger" type="button">Return Book</button>
</LinkTo>


<ListOfBooks/>